@page "/editSettings"
@using NitroxAndTrimixCalculatorLibrary.Object
@using NitroxCalculatorMaui.Class

<h1>Settings</h1>

<h2 class="text-center">General</h2>
<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">Unit:</div>
    <div class="col-sm-7 col-md-6">
        <select @bind="SelectedUnit" class="fullWidth">
            @foreach (Unit unit in calculator.UnitList)
            {
                <option value="@unit.Name">@unit.Name</option>
            }
        </select>
    </div>
</div>
<br />
<h2 class="text-center">Nitrox Calculator Starting Values</h2>
<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">Start Pressure (@calculator.SelectedUnit.PressureName):</div>
    <div class="col-sm-7 col-md-6">
        <input class="fullWidth" @bind-value="NitroxStartPressure" @bind-value:event="oninput" type="number" min="0" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">End Pressure (@calculator.SelectedUnit.PressureName):</div>
    <div class="col-sm-7 col-md-6">
        <input class="fullWidth" @bind-value="NitroxEndPressure" @bind-value:event="oninput" type="number" min="0" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">Oxygen Pressure (@calculator.SelectedUnit.PressureName):</div>
    <div class="col-sm-7 col-md-6">
        <input class="fullWidth" @bind-value="NitroxOxygenPressure" @bind-value:event="oninput" type="number" min="0" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">Start Mix:</div>
    <div class="col-sm-7 col-md-6">
        <input class="fullWidth" @bind-value="NitroxStartMix" @bind-value:event="oninput" type="number" min="0" max="100" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">End Mix:</div>
    <div class="col-sm-7 col-md-6">
        <input class="fullWidth" @bind-value="NitroxEndMix" @bind-value:event="oninput" type="number" min="0" max="100" />
    </div>
</div>
<br />
<br />
<div class="row">

    <button class="btn btn-primary" @onclick="AppSettings.DefaultAll">Default All</button>
</div>

